---
apiVersion: v1
kind: Namespace
metadata:
  name: hpa-example
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hpa-demo
  namespace: hpa-example
spec:
  # replicas: 1
  selector:
    matchLabels:
      app: hpa-demo
  template:
    metadata:
      labels:
        app: hpa-demo
    spec:
      containers:
      - name: hpa-demo
        image: 451579121839.dkr.ecr.us-east-1.amazonaws.com/fib-cpu:latest
        ports:
          - name: http
            containerPort: 8080
        resources:
          requests:
            cpu: 100m
            memory: 200Mi
          limits:
            cpu: 200m
            memory: 400Mi
---
apiVersion: v1
kind: Service
metadata:
  name: hpa-demo
  namespace: hpa-example
spec:
  selector:
    app: hpa-demo
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
---
